<!DOCTYPE html>
<html>
<head>
  <title>People List</title>
  <link rel="stylesheet" type="text/css" href="/people_list.css">
</head>
<body>
<h1>Records List</h1>

<form class="searchForm">
  <label for="cityInput">Search by City:</label>
  <input type="text" id="cityInput" name="city" placeholder="Enter city name">
  <input type="submit" value="Search">
</form>

<% if @error_message %>
  <p class="error-message"><%= @error_message %></p>
<% end %>

<table>
  <tr>
    <th>First Name</th>
    <th>Second Name</th>
    <th>City</th>
    <th>Date of Birth</th>
    <th>User ID</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @output.each do |record| %>
    <% next if record.nil? %>
    <tr>
      <td><%= record.first_name %></td>
      <td><%= record.second_name %></td>
      <td><%= record.city %></td>
      <td><%= record.date_of_birth %></td>
      <td><%= record.user_id %></td>
      <td><a href="/records/<%= record.id %>/edit">Edit</a></td>
      <td><a href="/records/<%= record.id %>/delete">Delete</a></td>
    </tr>
  <% end %>
</table>
<a href="/homepage" class="button">Go to home page</a>
<a href="/added_person_form" class="button">Add record</a>
<a href="/exel_file_download" class="button">Download in Excel</a>
</body>
</html>
